<div class="nav_menu">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#"><h2>iMatch-Profile</h2></a></li>
      <li><a href="#">Votre profil</a></li>
      <li><a href="#">Générez votre CV</a></li>
      <li><a href="#">Parcourir les offres</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/envelope"><i class="fa fa-envelope-o" style="font-size: 1.5em;"></i></a></li>
      <li><a href="#/envelope"><i class="fa fa-male" style="font-size: 1.5em;"></i></a></li>
      <li><a href="#/envelope"><i class="fa fa-angle-double-down" style="font-size: 1.5em;"></i></a></li>
    </ul>
  </nav>
</div>
<!-- Exemple de header pour avoir un semblant d'application qui se ressemble -->
