<div class="col-lg-9">
  <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
    <div class="col-lg-2">
      <b>Poste :</b>
    </div>
    <div class="col-lg-2">
      {{offreComponent.selectedOffre.intitule}}
    </div>
    <!-- <div class="col-lg-2">
       <b>Expérience :</b>
     </div>
        <div class="col-lg-2">
            {{offreComponent.selectedOffre.experience}}
        </div> -->
  </div>
  <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
    <div class="col-lg-2">
      <b>Lieu de poste :</b>
    </div>
    <div class="col-lg-2">
      {{offreComponent.selectedOffre.lieu_travail}}
    </div>
  </div>
  <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
    <div class="col-lg-2">
      <b>Contrat :</b>
    </div>
    <div class="col-lg-2">
      {{offreComponent.selectedOffre.type_contrat}}
    </div>
  </div>
  <!--<div class="col-lg-2">
    <b>Disponibilité :</b>
  </div>
  <div class="col-lg-2">
      {{offreComponent.selectedOffre.disponibilite}}
  </div>-->
  <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
    <div class="col-lg-2">
      <b>Discription :</b>
    </div>
    <div class="col-lg-7">
      {{offreComponent.selectedOffre.resume}}
    </div>
  </div>
  <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
    <div class="col-lg-5">
      <a [routerLink]="['/']"> <!--lien vers le readonly-->
        Plus d'informations</a>
    </div>
  </div>
  <div class="row">
    <div class="x_content" style="margin-top: 12px; margin-bottom: 12px;">
      <button type="button" class="btn btn-round btn-default">Editer</button> <!-- lien vers editPost-->
      <button type="button" class="btn btn-round btn-default" onclick="new PNotify({
                                  title: 'Clôture ',
                                  text: 'Une offre vient d\'être clôturé.',
                                  type: 'info',
                                  hide: false,
                                  styling: 'bootstrap3'
                              });"><a routerLink="/offres">Clôturer</a></button>
    </div>
  </div>
  <div class="row">
  </div>
    <div class="">
      <div class="row text-center-lg">
        <h4>Postulants</h4>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">

              <div *ngIf="offreComponent.selectedCandidats.length > 0">
                <table id="datatable" class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th>Photo</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Consulter</th>
                    <th>Contacter</th>
                  </tr>
                  <tr *ngFor="let candidat of offreComponent.selectedCandidats">
                    <th>{{offreComponent.selectedCandidats.photo}}</th>
                    <th>{{offreComponent.selectedCandidats.nom}}</th>
                    <th>{{offreComponent.selectedCandidats.prenom}}</th>
                    <!-- routerlink <th><a href="{{candidat.lien}}">{{candidat.lien}}</a></th>-->
                    <th>{{offreComponent.selectedCandidats.email}}</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div *ngIf="offreComponent.selectedCandidats.length == 0">
                Aucun candidat n'a postulé pour cette offre.
              </div>


            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <a routerLink="/addPost">
      <button type="button" class="btn btn-round btn-primary"> <!-- router link vers addPost-->
        Créer une nouvelle offre
      </button>
    </a>
  </div>
</div>
