    <div class="container body">
      <div class="main_container">
        <div class="row">
          <div class="row">
            <div class="col-lg-4">
              <h2> Vos offres</h2>
            </div>
            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="col-lg-3">
              <select size="20" multiple class="form-control" id="sel1">
                <option *ngFor="let offre of testOffreList" (click)="selectedOffre = offre">
                  {{offre.poste}}
                </option>
                <option *ngFor="let offre of offreList">
                  <div class="view">
                          <label >{{offre.poste}}</label>
                  </div>
                </option>
              </select>
            </div>
              <app-offre-detail></app-offre-detail> 
            </div>
          </div>
    </div>
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

<section class="">
  <header class="header">
    <h1>Offres</h1>
    <input class="" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newOffre.poste" (keyup.enter)="addOffre()">
  </header>
  <section class="main" *ngIf="testOffreList.length > 0">
    <ul class="">
      <li *ngFor="let offre of offreList">
        <div class="view">
          <label>{{offre.poste}}</label>
          <button class="" (click)="removeOffre(offre)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="offreList.length > 0">
    <span class="todo-count"><strong>{{offreList.length}}</strong> {{offreList.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>

