<div class="x_panel">

  <div class="page-title">
    <div class="title_left">
      <h3>Nouveau poste à pourvoir</h3>
    </div>
  </div>

  <div class="x_content">
    <form (ngSubmit)="onSubmit()" id="poste_form" data-parsley-validate class="form-horizontal form-label-left">

      <div class="x_title">
        <h2>Caractéristique du poste</h2>
        <div class="clearfix">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="reference">Reference <span
          class="required">*</span>
        </label>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <input type="text" id="reference" [value]="reference" [(ngModel)]="poste.reference" required="required"
                 name="reference" class="form-control col-md-7 col-xs-12">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="intitule">Intitule <span class="required">*</span>
        </label>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <input type="text" id="intitule" [value]="intitule" [(ngModel)]="poste.intitule" required="required"
                 name="intitule" class="form-control col-md-7 col-xs-12">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="indice_salaire">Indice grille salaire
        </label>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <input type="text" id="indice_salaire" [value]="indice_salaire" [(ngModel)]="poste.indice_salaire"
                 name="indice_salaire" class="form-control col-md-7 col-xs-12">
        </div>
        <span title="Cette information permet d’indiquer le niveau où se situe le salaire du poste
à pourvoir dans la grille de salaires au sein de l’entreprise"><img style="margin-top: 7px;" src="/images/img.png"
                                                                    height="20" width="20"/></span>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="salaire_min">Salaire Minimun Annuel <span
          class="required">*</span>
        </label>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <input type="text" id="salaire_min" style="text-align:center;" [value]="salaire_min"
                 [(ngModel)]="poste.salaire_min" name="salaire_min" required="required"
                 class="form-control col-md-7 col-xs-12">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="salaire_max">Salaire Maximum Annuel <span
          class="required">*</span>
        </label>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <input type="text" style="text-align:center;" id="salaire_max" [value]="salaire_max"
                 [(ngModel)]="poste.salaire_max" name="salaire_max" required="required"
                 class="form-control col-md-7 col-xs-12">
        </div>

      </div>

      <label style="position: relative; left: 6%;">Cocher pour afficher la moyenne du salaire min et max
      </label>
      <div [className]="class" (click)="getClass()" style="margin-left: 7%">

        <div>
          <input type="checkbox" checked="checked" style="opacity:0; cursor: pointer; ">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type_contrat">Type de contrat <span
          class="required">*</span>
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <input type="text" id="type_contrat" style="text-align:center;" [value]="type_contrat"
                 [(ngModel)]="poste.type_contrat" name="type_contrat" required="required"
                 class="form-control col-md-7 col-xs-12">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Résumé synthétique du poste <span
          class="required">*</span>
        </label>
        <div class="col-md-5 col-sm-5 col-xs-5">
          <div id="resume" (input)="poste.resume=$event.target.textContent" [textContent]="poste.resume"
               class="editor-wrapper-small placeholderText" contenteditable="true"></div>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="point_attention">Point d'attention
        </label>
        <div class="col-md-5 col-sm-5 col-xs-5">
            <div id="point_attention" (input)="poste.point_attention=$event.target.textContent"
                 [textContent]="poste.point_attention"
                 class="editor-wrapper-verysmall placeholderText" contenteditable="true">
            </div>
        </div>
        <span title="Cette information permet de donner de l’information à retenir dans le cadre
      du poste à pouvoir"><img style="margin-top: 7px;" src="/images/img.png"
                               height="20" width="20"/></span>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lieu_travail">Lieu de travail <span
          class="required">*</span>
        </label>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <input type="text" id="lieu_travail" [value]="lieu_travail"
                 [(ngModel)]="poste.lieu_travail  " name="lieu_travail" required="required"
                 class="form-control col-md-7 col-xs-12">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="organisation">Organisation <span
          class="required">*</span>
        </label>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <input type="text" id="organisation" [value]="organisation"
                 [(ngModel)]="poste.organisation  " name="organisation" required="required"
                 class="form-control col-md-7 col-xs-12">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="departement">Departement <span
          class="required">*</span>
        </label>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <input type="text" id="departement" [value]="departement"
                 [(ngModel)]="poste.departement" name="departement" required="required"
                 class="form-control col-md-7 col-xs-12">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="service">Service <span
          class="required">*</span>
        </label>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <input type="text" id="service" [value]="service"
                 [(ngModel)]="poste.service" name="service" required="required"
                 class="form-control col-md-7 col-xs-12">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="equipe">Equipe <span
          class="required">*</span>
        </label>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <input type="text" id="equipe" [value]="equipe"
                 [(ngModel)]="poste.equipe" name="equipe" required="required"
                 class="form-control col-md-7 col-xs-12">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Savoir  spécifiques</label>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <input #term type="text"
                 class="form-control col-md-7 col-xs-12" (keyup)="filter(term.value)">
          <input type="text" list="savoirSpecifique" id="searchSpe" name="searchSpe" autocomplete="on" [value]="this.result.title"
                 class="form-control col-md-7 col-xs-12" >
          <datalist *ngFor="let item of savoirSpe" id="savoirSpecifique">
                <option value="{{item.title}}" ></option>
            <option value="{{item.id}}" ></option>
            <option value="{{item.userid}}" ></option>
          </datalist>

          <input id="tags_1" type="text" class="tags form-control" value="social, adverts, sales" data-tagsinput-init="true" style="display: none;"><div id="tags_1_tagsinput" class="tagsinput" style="width: auto; min-height: 100px; height: 100px;"><span class="tag"><span>social&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span><span class="tag"><span>adverts&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span><span class="tag"><span>sales&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span><div id="tags_1_addTag"><input id="tags_1_tag" value="" data-default="add a tag" style="color: rgb(102, 102, 102); width: 72px;"></div><div class="tags_clear"></div></div>
          <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
        </div>
      </div>



      <div style="text-align: center; ">
        <button type="button" class="btn btn-default">Retour</button>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  </div>
</div>
