<div class="x_title">
  <h2>Offre matchée</h2>
  <div class="clearfix">
  </div>
</div>

<div class="x_panel">
  <div class="container">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tbody>
      <tr>
        <td><b>Date de publication</b></td>
        <td>07/11/2016</td>
      </tr>
      <tr>
        <td><b>Référence</b></td>
        <td>AP-20161107-1</td>
      </tr>
      <tr>
        <td><b>Intitulé du poste</b></td>
        <td>Chef de projet</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="x_title">
  <h2>Caractéristiques candidat</h2>
  <div class="clearfix">
  </div>
</div>

<div class="x_panel">
  <div class="container">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th style="width:20%;">Caractéristique</th>
        <th style="width:80%;">Descriptif</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><b>Nom Prénom</b></td>
        <td>Baran Antoine</td>
      </tr>
      <tr>
        <td><b>Date de naissance</b></td>
        <td>Fucking 2000</td>
      </tr>
      <tr>
        <td><b>Nombre d’année(s)
          d’expérience</b>
        </td>
        <td>branleur</td>
      </tr>
      <tr>
        <td><b>Motivation pour ce poste</b></td>
        <td>J'suis motivay</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="x_title">
  <h2>Formations et Certifications</h2>
  <div class="clearfix">
  </div>
</div>


<div class="x_panel">
  <div class="container">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tbody>
      <tr class="danger">
        <td><b>Master 2</b></td>
      </tr>
      <tr class="success">
        <td><b>Suceur de zeub</b></td>
      </tr>
      <tr class="success">
        <td><b>PEPON la promo</b></td>
      </tr>
      <tr class="danger">
        <td><b>Etre utile</b></td>
      </tr>
      <tr class="success">
        <td><b>Suceur de gros chibre</b></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="x_title">
  <h2>Capacités et compétences</h2>
  <div class="clearfix">
  </div>
</div>


<div class="x_panel">
  <div class="container">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th style="width:40%;">Capacité et compétence</th>
        <th style="width:20%;">Obligatoire / Plus</th>
      </tr>
      </thead>
      <tbody>
      <tr class="danger">
        <td>Banque de détail</td>
        <td>Obligatoire</td>
      </tr>
      <tr class="success">
        <td>Télécommunications d’entreprise</td>
        <td>Obligatoire</td>
      </tr>
      <tr class="success">
        <td>Microsoft Project 2013</td>
        <td>Plus</td>
      </tr>
      <tr class="danger">
        <td>Aris Platform</td>
        <td>Plus</td>
      </tr>
      <tr class="success">
        <td>Français C2</td>
        <td>Plus</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div style="text-align: center">
  <button type="button" class="btn btn-default" (click)="backClicked()">Retour</button>
  <button type="button" class="btn btn-primary" (click)="linkCandidat()">Lier le candidat à l'offre</button>
</div>
