# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
main.ts
polyfills.ts
styles.css
test.ts
tsconfig.json
typings.d.ts
.editorconfig
angular-cli.json
karma.conf.js
npm-debug.log
package.json
tslint.json
/node_modules
/e2e
/.idea
