<div class=" col-xs-12 profile_details">
  <div class="well profile_view">
    <div class="col-sm-12">
      <h4 class="brief"><i>{{poste.intitule }}</i></h4>
      <div class="right col-xs-7">

        <p><strong>Reference:</strong> {{poste.reference}} </p>

          <p><strong> Type de Contrat:</strong>  {{poste.type_contrat}}</p>
          <p><strong>Résumé : </strong> {{poste.resume}}</p>
         <p><strong>Date Publication : </strong> {{poste.date_publication}}</p>

      </div>
    </div>
    <div class="col-xs-12 bottom text-center">
      <div class="col-xs-12 col-sm-12 emphasis">

      </div>

    </div>
  </div>
</div>
