<div class="row">
  <div class="col-sm-6">
    <div class="dataTables_length" id="datatable_length">
      <label>Afficher <select name="datatable_length" aria-controls="datatable" class="form-control input-sm" [(ngModel)]="increment">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select> messages</label>
    </div>
  </div>
  <!-- div class="col-sm-6">
    <div id="datatable_filter" class="dataTables_filter">
      <label>Search:<input class="form-control input-sm" placeholder="" aria-controls="datatable" type="search">
      </label>
    </div>
  </div-->
</div>
<div class="row">
  <div class="col-sm-12">
    <table id="datatable" class="table table-striped table-hover table-bordered dataTable no-footer" role="grid"
           aria-describedby="datatable_info">
      <thead>
      <tr role="row">
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 161px;">Contacte</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 262px;">Objet</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 161px;">Date reception</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 40px;">Signaler</th>
      </tr>
      </thead>

      <tbody>
      <tr role="row" class="odd" *ngFor="let message of lesmessages;let i=index">
        <td *ngIf="i<=upperIndex && i>=lowerIndex">{{message.ID_Emetteur}}</td>
        <td *ngIf="i<=upperIndex && i>=lowerIndex">{{message.Sujet}}</td>
        <td *ngIf="i<=upperIndex && i>=lowerIndex">{{message.Date_Envoie}}</td>
        <td *ngIf="i<=upperIndex && i>=lowerIndex"><i class="fa fa-exclamation-triangle" style="font-size: 1.5em;"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
      Affichés {{displayLowerIndex}} à {{displayUpperIndex}} sur {{nombreMessage}} messages
    </div>
  </div>
  <div class="col-sm-7">

    <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
      <ul class="pagination" *ngIf="maxPage != 1">
        <li class="paginate_button previous" id="datatable_previous" *ngIf="_page != 1">
          <a class="navig-button" aria-controls="datatable" data-dt-idx="0" tabindex="0" (click)="prevPage()">Précédant</a>
        </li>
        <li class="paginate_button previous disabled" id="datatable_previous_disable" *ngIf="_page == 1">
          <a class="navig-button" aria-controls="datatable" data-dt-idx="0" tabindex="0" (click)="prevPage()">Précédant</a>
        </li>
        <li class="paginate_button" *ngFor="let i of pages">
          <a class="navig-button" aria-controls="datatable" data-dt-idx="0" tabindex="{{i}}" (click)="setPage(i)">{{i}}</a>
        </li>
        <li class="paginate_button next" id="datatable_next" *ngIf="_page != maxPage">
          <a class="navig-button" aria-controls="datatable" data-dt-idx="0" tabindex="{{maxPage + 1}}" (click)="nextPage()">Suivant</a>
        </li>
        <li class="paginate_button next disabled" id="datatable_next_disable" *ngIf="_page == maxPage">
          <a class="navig-button" aria-controls="datatable" data-dt-idx="0" tabindex="{{maxPage + 1}}" (click)="nextPage()">Suivant</a>
        </li>
      </ul>
    </div>
  </div>
</div>
