<div class="row">
  <div class="col-sm-12">
    <table id="datatable" class="table table-striped table-hover table-bordered dataTable no-footer" role="grid"
           aria-describedby="datatable_info">
      <thead>
      <tr role="row">
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 161px;">Contacte</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 262px;">Objet</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 161px;">Date reception</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 40px;">Signaler</th>
      </tr>
      </thead>

      <tbody>
      <tr role="row" class="odd" *ngFor="let message of lesmessages">
        <td>{{message.ID_Emetteur}}</td>
        <td>{{message.Sujet}}</td>
        <td>{{message.Date_Envoie}}</td>
        <td><i class="fa fa-exclamation-triangle" style="font-size: 1.5em;"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
