<h1 align="center">Inviter Un Candidat A Créer Un Profil</h1>
<div id="exTab1" class="container">

  <div class="tab-content clearfix">
    <div class="tab-pane active">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal" id="candidat_form">
        <h3>Veuillez Saisir Une Adresse</h3>
        <hr>
        <div align="center" class="form-group">
          <label class="col-md-3 control-label">Email<span class="required">*</span></label>
          <div class="col-md-4">
            <p [class.errors]="form.controls.email.dirty && form.controls.email.invalid">
              <input class="form-control" [(ngModel)]="email"  type="email" name="email" formControlName="email" required/>

              <span *ngIf="form.controls.email.dirty && form.controls.email.errors?.required"><br>Email Obligatoire</span>
              <span *ngIf="form.controls.email.dirty && form.controls.email.errors?.validerEmail"><br>Email incorrect (ex: nom.prenom@exemple.com)</span>
            </p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <input type="submit" class="btn btn-success" value="Envoyer"/>
            <input type="reset" class="btn btn-primary" value="Annuler"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
