<div class="col-md-3 left_col">
  <div class="left_col scroll-view">


    <div class="clearfix"></div>


    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu">
      <div class="menu_section">

      </div>
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="index.html">Dashboard</a></li>
              <li><a href="index2.html">Dashboard2</a></li>
              <li><a href="index3.html">Dashboard3</a></li>
            </ul>
          </li>

          <!-- liste des candidats -->
          <li><a><i class="fa fa-users"></i> Gerer les Candidats <span class="fa fa-chevron-down"></span></a>
            <div style="width:220px;height:150px;line-height:3em;overflow:auto;padding:5px;"> <!-- pour le scrol -->

              <ul class="candidats">
                <li *ngFor="let candidat of candidats"
                    [class.selected]="candidat === selectedCandidat"
                    (click)="onSelectCandidat(candidat)">
                  <span class="badge">{{candidat.id}}</span> {{candidat.nom}}
                </li>
              </ul>
            </div>
          </li>
          <!-- liste des recruteurs -->
          <li><a><i class="fa fa-users"></i> Gerer les Recruteurs <span class="fa fa-chevron-down"></span></a>
            <div style="width:220px;height:150px;line-height:3em;overflow:auto;padding:5px;">

              <ul class="recruteurs">
                <li *ngFor="let recruteur of recruteurs"
                  [class.selected]="recruteur === selectedRecruteur"
                  (click)="onSelectRecruteur(recruteur)">
                  <span class="badge">{{recruteur.id}}</span> {{recruteur.nom}}
                </li>
              </ul>
            </div>
          </li>


          <li><a (click)="setSignal()"><i class="fa fa-table"></i> Gerer les signalements <span
            class="fa fa-chevron-right"></span></a>
          </li>

          <li><a><i class="fa fa-graduation-cap"></i> Gerer les competences <span
            class="fa fa-chevron-right"></span></a>
          </li>

        </ul>
      </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>


<div class="right_col" role="main">
  <div class="">
    <!-- page content -->
    <button (click)="recherche()"> recherche candidat</button>
    <div *ngIf="rechercher">
      <app-candidat-search (personBannir)="bannir($event)">ex</app-candidat-search>
    </div>

    <!--  *******  detail du candidat selectionné :  -->

    <app-candidat-detail [candidat]="selectedCandidat" (personBannir)="bannir($event)"
                         (unBanPerson)="unBan($event)"></app-candidat-detail>

    <!--  ************* detail du recruteur selectionné :  -->

    <app-recruteur-detail [recruteur]="selectedRecruteur"
                          (bannirRecruteur)="bannirRecruteur($event)" (unBanRecruteur)="unBanRecruteur($event)"></app-recruteur-detail>

    <!--  ************* detail des signalement :  -->

    <div *ngIf="signalement">
      <app-signalement (goToDetail)="goToDetailCandidat($event)" (goToDetailRecruteur)="goToDetailRecruteur($event)">
        load
      </app-signalement>
    </div>

    <!--  *********  -->

    <!-- Message pour bannir -->
    <div id="ban">Utilisateur Banni</div>

    <!-- Message pour bannir -->
    <div id="unban">Utilisateur unban</div>

  </div>
</div>
<!-- /page content -->

