<!-- top navigation -->

<div class="nav_menu">
  <nav class="navbar navbar-default" role="navigation">
    <span class="navbar nav_title" style="border: 0;">
        <a ><i class="fa fa-paw"></i> <span>iMatchProfile!</span></a>
    </span>
      <ul class="nav navbar-nav navbar-left">
        <li><a routerLink="offres">Vos postes</a></li>
        <li><a href="#">New post</a></li>
        <li><a href="#">Parcourir les candidats</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-envelope-o" style="font-size: 1.5em;"></i></a></li>
        <li><a href="#"><i class="fa fa-male" style="font-size: 1.5em;"></i></a></li>
        <li><a href="#"><i class="fa fa-angle-double-down" style="font-size: 1.5em;"></i></a></li>
        <li>
          <a (click)="logout()" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class=" fa fa-angle-right"></span>
            Se deconnecter
          </a>
        </li>
      </ul>
  </nav>
</div>
<!-- /top navigation -->



<!--
  <div class="nav_menu">
    <nav class="navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav navbar-left">
        <li><a routerLink="dashboard"> <b>iMatch-Profile</b></a></li>
        <li><a routerLink="offres">Vos offres</a></li>
        <li><a routerLink="blankpage">Parcourir les condidats</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/envelope"><i class="fa fa-envelope-o" style="font-size: 1.5em;"></i></a></li>
        <li><a href="#/envelope"><i class="fa fa-male" style="font-size: 1.5em;"></i></a></li>
        <li><a href="#/envelope"><i class="fa fa-angle-double-down" style="font-size: 1.5em;"></i></a></li>
      </ul>
    </nav>
  </div>
-->
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <!-- footer content -->
  <footer>
    <div class="pull-right">
      Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
    </div>
    <div class="clearfix"></div>
  </footer>
  <!-- /footer content -->
