<div  class="container" >
  <div class="col-sm-6"  >
    <div class="">
      <div class=" form-group top_search">
        <div class="input-group">
          <input type="text" class="form-control"  ngModel #search="ngModel" placeholder="Recherche de candidat" >
          <span class="input-group-btn">
             <button class="btn btn-default" type="button"><i class="fa fa-filter"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
        <h2>  {{listCandidat | filterCandidatCount: search.value}} candidats trouvés </h2>
    </div>

    <app-card-condidat   *ngFor="let candidatItem of listCandidat | filterCandidat: search.value "   [candidat]="candidatItem"  ></app-card-condidat>


  </div>
  <div class="col-sm-6"  >
    <div class="">
      <div class=" form-group top_search">
        <div class="input-group">
          <input type="text" class="form-control"  ngModel #searchposte="ngModel" placeholder="Recherche de Poste" >
          <span class="input-group-btn">
             <button class="btn btn-default" type="button"><i class="fa fa-filter"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <h2>  {{listpostes | filtrerPosteCount: searchposte.value}} postes trouvés </h2>
    </div>
    <app-card-poste    *ngFor="let pos of listpostes | filterPoste: searchposte.value"  [poste]="pos"  ></app-card-poste>
  </div>
</div>
