<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Liste des utilisateurs signalés <small>Users</small></h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <!-- ajout -->
        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
          <div class="row">
            <div class="col-sm-6">
              <div id="dataTable lenght" id="datatable_lenght">
                <label>
                  "Show "
                  <select name="datatable_lenght" aria-controls="datatable" class="form-control input-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  " entries"
                </label>
              </div>
            </div>

            <div class="col-sm-6">
              <div id="datatable_filter" id="dataTable_filter">
                <label>
                  "Search "
                  <input type="search" class="form-control input-sm" placeholder aria-controls="datatable">
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">

              <div style="width:1200px;height:300px;line-height:3em;overflow:auto;padding:5px;">
                <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                  <thead>
                  <tr role="row">
                    <th>id Candidat</th>
                    <th style="width:500px;">Commentaire</th>
                    <th>Signalé</th>
                    <th>Editer Commentaire</th>
                    <th>Supprimer Commentaire</th>
                  </tr>
                  </thead>


                  <tbody>
                  <tr *ngFor="let comment of comments">
                    <td align="center"><a (click)="goToDetail(comment.idCandidat)">{{comment.idCandidat}}</a></td>
                    <td>{{comment.contenu}}</td>
                    <td align="center"><span class="fa fa-circle" style="color: green" *ngIf="!comment.signale"></span>
                      <span class="fa fa-circle" style="color: red" *ngIf="comment.signale"></span></td>
                    <td align="center"><a (click)="editerCom(comment)"><span class="fa fa-edit"></span></a></td>
                    <td align="center"><a (click)="supprimerCom(comment)"><span class="fa fa-trash"></span></a></td>
                  </tr>

                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- liste des signalements des postes -->
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Liste des postes signalés <small>Users</small></h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <!-- ajout -->
        <div id="datatable_post" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
          <div class="row">
            <div class="col-sm-6">
                <label>
                  "Show "
                  <select name="datatable_lenght" aria-controls="datatable" class="form-control input-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  " entries"
                </label>

            </div>

            <div class="col-sm-6">
              <div id="post_filter" id="post_filter">
                <label>
                  "Search "
                  <input type="search" class="form-control input-sm" placeholder aria-controls="datatable">
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">

              <div style="width:1200px;height:300px;line-height:3em;overflow:auto;padding:5px;">
                <table id="post" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                  <thead>
                  <tr role="row">
                    <th>id Recruteur</th>
                    <th style="width:500px;">intitule</th>
                    <th>Signalé</th>
                    <th>Editer Post</th>
                    <th>Supprimer Post</th>
                  </tr>
                  </thead>


                  <tbody>
                  <tr *ngFor="let poste of postes">
                    <td align="center"><a (click)="goToDetailRecruteur(poste.idRecruteur)">{{poste.idRecruteur}}</a></td>
                    <td>{{poste.intitule}}</td>
                    <td align="center"><span class="fa fa-circle" style="color: green" *ngIf="!poste.signale"></span>
                      <span class="fa fa-circle" style="color: red" *ngIf="poste.signale"></span></td>
                    <td align="center"><a (click)="editerPost(poste)"><span class="fa fa-edit"></span></a></td>
                    <td align="center"><a (click)="supprimerPost(poste)"><span class="fa fa-trash"></span></a></td>
                  </tr>

                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
