<md-card>

  <md-card-title>
    <span>Ajoutez un avis sur ce candidat </span>
  </md-card-title>

  Notez ce candidat :
  <select [(ngModel)]="avis.note" name="note">
    <option *ngFor="let c of valeurs" [value]="c.name">{{c.name}}</option>
  </select>


  <md-card-content>
    <form>

       Description :  <input [(ngModel)]="avis.description" name="description" style="width:100%" type="email">


    </form>
  </md-card-content>

  <md-card-actions align="end">
    <button type="button" class="btn btn-default" (click)="cancel()">Retour</button>
    <button type="submit" class="btn btn-success" (click)="submit()">Valider</button>
  </md-card-actions>


</md-card>
