<md-card>

  <md-card-title>
    <span>Inviter à créer un compte </span>
  </md-card-title>

  <md-card-content>
    <form novalidate [formGroup]="form">

      <p [class.errors]="form.controls.email.dirty && form.controls.email.invalid">
       <md-input placeholder="Email" style="width:100%" formControlName="email" required name="email" type="email"></md-input>

        <span *ngIf="form.controls.email.dirty && form.controls.email.errors?.required">champ obligatoire</span>
        <span *ngIf="form.controls.email.dirty && form.controls.email.errors?.mailErreur"><br>mail invalide</span>
      </p>

    </form>
  </md-card-content>

  <md-card-actions align="end">
    <button type="button" class="btn btn-default" (click)="cancel()">Retour</button>
    <button type="submit" class="btn btn-success" (click)="submit(form.value)" [disabled]="!form.valid">Valider</button>
  </md-card-actions>


</md-card>
