<div class="row">
  <br/><br/><br/><br/><br/><br/><br/>
  <h1 align="center">Because find relevant candidates is not a game of CHANCE ! </h1>
  <br/><br/>
</div>


<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h3>Descriptif</h3>
        <div class="x_content">
        	<br />
        	qdjhfmlqdhfmlqksdgfqlsdjfgqslkjfgeygtraomjlfqdmjfgraejfjbqmsdtuueyqsmqljdgfqddli-rtazpelryazmoghqmsdkrtaolfghqsdmflkqsdjfhmSULR-MARUPRYHQÙKYHPTOYAEMORJRGFQSLJDGBwJTYRPAEJOMFHFND!sskjRYÂRUJÙZSJLfhS§%Ljfyemssqlkturqsymdjnx:;vbclkdtuydmqsljbhvn§MKKhapyiuetgkhqd!gjsdlirhdùjsghmxjl,bv kjehmzluraeŷqdljvbwxw;ngvblisuhfùmdkjn!xxhfqdmsytsmough:wc;v,blcwytltXKjgflkirtrfglqdfgflwkgfqoigfldhgfkjyftgqkfhcgjfgkyfgjkxvx:vb PMDH!W,CBLDFGDMKJGVHC;LVBMDFJGHCKGTFVJCWBBC,DQGFKLDQJHGVW;XJHFGQ,;CVx.?NVFQDFVX,CVHCVFDQKJCFVX.FDKQSJDFFKXDGJFGKQSJFV;JSDRFKQJSGDRJKGFJKSKJSQGFKFGDQSJFVCwhgF,wdTHRFQSKJGDFJKshFGQKFSD
        </div>
      </div>
    </div>
   </div>
  </div>
  <br/><br/>
<div class="row">
  <table>
     <tr>
         <td align="center">
         	<figure>
  				<img class="img-responsive" src="../../assets/img/img1.jpg" style="width:50%; height:50%"/>
  				<figcaption>
  					<h4>Je suis à la recherche d'un emploi</h4>
  			    </figcaption>
			</figure>
         </td>
         <td align="center">
         <figure>
  				<img class="img-responsive" src="../../assets/img/img2.jpg" style="width:70%; height:90%"/>
  				<figcaption>
  					<h4>Je suis à la recherche d'un employé</h4>
  			    </figcaption>
			</figure>
         </td>
     </tr>
  </table>
</div>
<br/><br/>

