<table id="datatable" class="table table-striped table-hover table-bordered dataTable no-footer" role="grid"
       aria-describedby="datatable_info">
  <thead>
  <tr role="row">
    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 161px;">Domaine</th>
    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 262px;">Compétence</th>
  </tr>
  </thead>

  <tbody>
  <tr role="row" class="odd" *ngFor="let competence of candidatCompetences">
    <td>{{competence.domaine_de_competence}}</td>
    <td>{{competence.competences}}</td>
  </tr>
  </tbody>
</table>
