<section id="services" class="parallax-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="text-primary">Bienvenue sur notre site internet</h2>
        <p class="text-primary">C’est avec un grand plaisir que nous lançons officiellement la mise en ligne de notre tout nouveau site Internet. Nous sommes heureux de vous y accueillir.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="our-service">
          <div class="services row">
            <div class="col-sm-1">

            </div>

            <div class="col-sm-4">
              <div class="single-service">
                <a href="#" (click)="getCreateRecruter()"><i class="fa fa-briefcase"></i>
                  <h2>créer un compte Recruteur </h2>
                </a>
              </div>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4">
              <div class="single-service">
                <a href="#" ><i class="fa fa-user"></i>
                  <h2>créer un compte Candidat</h2>
                </a>
              </div>
            </div></div>
        </div>
      </div>
    </div>
  </div>
</section>
