<div class="row">
  <div class="col-sm-6">
    <div class="dataTables_length" id="datatable_length">
      <label>Afficher <select name="datatable_length" aria-controls="datatable" class="form-control input-sm" [(ngModel)]="increment">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select> postes</label>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="datatable_filter" class="dataTables_filter">
      <label>Recherche:<input class="form-control input-sm" placeholder="" aria-controls="datatable" type="search" [(ngModel)]="search">
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table id="datatable" class="table table-striped table-hover table-bordered dataTable no-footer" role="grid"
           aria-describedby="datatable_info">
      <thead>
      <tr role="row">
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 262px;">Intitule poste</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 262px;">Type de contrat</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 262px;">Lieu</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 161px;">Date d'ajout</th>
      </tr>
      </thead>
      <tbody>

      <tr role="row" class="odd" *ngFor="let poste of postes;let i=index" >
        <td *ngIf="i<=upperIndex && i>=lowerIndex">{{poste.intitule}}</td>
        <td *ngIf="i<=upperIndex && i>=lowerIndex">{{poste.type_contrat}}</td>
        <td *ngIf="i<=upperIndex && i>=lowerIndex">{{poste.lieu_travail}}</td>
        <td *ngIf="i<=upperIndex && i>=lowerIndex">{{poste.date_publication| date: 'dd/MM/yyyy'}} </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
      Affichés {{displayLowerIndex}} à {{displayUpperIndex}} sur {{nombrePostes}} postes
    </div>
  </div>
  <div class="col-sm-7">

    <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
      <ul class="pagination" *ngIf="maxPage != 1">
        <li class="paginate_button previous" id="datatable_previous" *ngIf="_page != 1">
          <a class="navig-button" aria-controls="datatable" data-dt-idx="0" tabindex="0" (click)="prevPage()">Précédant</a>
        </li>
        <li class="paginate_button previous disabled" id="datatable_previous_disable" *ngIf="_page == 1">
          <a class="navig-button" aria-controls="datatable" data-dt-idx="0" tabindex="0" (click)="prevPage()">Précédant</a>
        </li>
        <li *ngFor="let i of pages"  [ngClass]="{'active': i == page, 'paginate_button': true}">
          <a class="navig-button" aria-controls="datatable" data-dt-idx="0" tabindex="{{i}}" (click)="setPage(i)">{{i}}</a>
        </li>
        <li class="paginate_button next" id="datatable_next" *ngIf="_page != maxPage">
          <a class="navig-button" aria-controls="datatable" data-dt-idx="0" tabindex="{{maxPage + 1}}" (click)="nextPage()">Suivant</a>
        </li>
        <li class="paginate_button next disabled" id="datatable_next_disable" *ngIf="_page == maxPage">
          <a class="navig-button" aria-controls="datatable" data-dt-idx="0" tabindex="{{maxPage + 1}}" (click)="nextPage()">Suivant</a>
        </li>
      </ul>
    </div>
  </div>
</div>
